h1{
	font-size: 36px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size:12px;
}
h5{
	font-size:8px;
}

.neuralnetworkpic{
    position: absolute;
    top: 200px;
}
 hr {
 	width: 2270px;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
}
* {
    box-sizing: border-box;
}
.menu {
    width: 40%;
    float: left;
}
.main {
    width: 60%;
    float: left;
}
.menu1 {
    width: 50%;
    float: left;
}
.main1 {
    width: 50%;
    float: left;
}
table, th {
    border: 1px solid black;
}